.devtool-plugin-tab {
    background-color: var(--b3-theme-background);
}

.devtool-plugin-tab dd {
    display: inline-block;
}
.devtool-plugin-tab dt {
    font-weight: bold;
    display: inline-block;
}
.user-repo-container {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;
}
.user-repo {
    margin: 12px 8px;
    width: 400px;
    border: 1px solid var(--b3-theme-background-light);;
    border-radius: 4px;
    padding: 12px;
}
.user-repo:hover {
    // border-color: var(--b3-theme-primary);
    box-shadow: 0 0 9px 0px var(--b3-theme-primary);
}
.user-repo-icon {
    height: 100px;
    width: 100px;
}